<?xml version="1.0"?>
<config>
    <modules>
        <Md_Customdiscount>
            <version>1.0.10</version>
        </Md_Customdiscount>
    </modules>
    <global>
		<models>
            <customdiscount>
                <class>Md_Customdiscount_Model</class>
            </customdiscount>
        </models> 
        <helpers>
            <customdiscount>
                <class>Md_Customdiscount_Helper</class>
            </customdiscount>
        </helpers> 
		<events>
			<sales_quote_collect_totals_after>
                <observers>
                    <set_custom_discount_suagrcode>
                        <type>singleton</type>
                        <class>Md_Customdiscount_Model_Observer</class>
                        <method>setDiscount</method>
                    </set_custom_discount_suagrcode>
                </observers>
            </sales_quote_collect_totals_after>             
		</events>
    </global>
	<adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customdiscount>
                                            <title>Custom Cart Discount</title>
                                        </customdiscount>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>