<?xml version="1.0"?>
<config>
    <modules>
        <Md_Customer>
            <version>0.0.1</version>
        </Md_Customer>
    </modules>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <md_customer before="Mage_Customer">Md_Customer</md_customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>