<?xml version="1.0"?>
    <config>
        <modules>
            <Md_Customattribute>
                <version>0.2.0</version>
            </Md_Customattribute>
        </modules>
        <global>
			<fieldsets>
				<sales_convert_quote>                           
					<my_custom_input_field><to_order>*</to_order></my_custom_input_field>
				</sales_convert_quote>

				<sales_convert_order>                                              
					<my_custom_input_field><to_quote>*</to_quote></my_custom_input_field>
				</sales_convert_order>
			</fieldsets>
			<helpers>
				<customorderstatus>
					<class>Md_Customattribute_Helper</class>
				</customorderstatus>            
			</helpers>
			<models>
				<customorderstatus>
					<class>Md_Customattribute_Model</class>
					<resourceModel>customattribute_mysql4</resourceModel>
				</customorderstatus>
			</models>
            <resources>
                <Md_Customattribute_setup>
                    <setup>
                        <module>Md_Customattribute</module>
                        <class>Mage_Customer_Model_Entity_Setup</class>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Md_Customattribute_setup>
                <Md_Customattribute_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </Md_Customattribute_write>
                <Md_Customattribute_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </Md_Customattribute_read>
            </resources>
			
			<events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <customorderstatus>
                        <type>singleton</type>
                        <class>customattribute/observer</class>
                        <method>saveCustomData</method>
                    </customorderstatus>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>

        <blocks>
            <customattribute>
                <class>Md_Customattribute_Block</class>
            </customattribute>
        </blocks>
        </global>

    </config>