<?xml version="1.0"?>
<config>
    <modules>
        <Easylife_News>
            <version>1.0.0</version>
        </Easylife_News>
    </modules>
    <global>
        <resources>
            <easylife_news_setup>
                <setup>
                    <module>Easylife_News</module>
                    <class>Easylife_News_Model_Resource_Setup</class>
                </setup>
            </easylife_news_setup>
        </resources>
        <blocks>
            <easylife_news>
                <class>Easylife_News_Block</class>
            </easylife_news>
        </blocks>
        <helpers>
            <easylife_news>
                <class>Easylife_News_Helper</class>
            </easylife_news>
        </helpers>
        <models>
            <easylife_news>
                <class>Easylife_News_Model</class>
                <resourceModel>easylife_news_resource</resourceModel>
            </easylife_news>
            <easylife_news_resource>
                <class>Easylife_News_Model_Resource</class>
                <entities>
                    <article>
                        <table>easylife_news_article</table>
                    </article>
                    <eav_attribute>
                        <table>easylife_news_eav_attribute</table>
                    </eav_attribute>
                </entities>
            </easylife_news_resource>
        </models>
        <events>
            <controller_front_init_routers><!-- event for custom router - url rewrites -->
                <observers>
                    <easylife_news>
                        <class>Easylife_News_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </easylife_news>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <easylife_news>
                    <file>easylife_news.xml</file>
                </easylife_news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Easylife_News>
                    <files>
                        <default>Easylife_News.csv</default>
                    </files>
                </Easylife_News>
            </modules>
        </translate>
        <global_search>
            <article>
                <class>easylife_news/adminhtml_search_article</class>
                <acl>easylife_news</acl>
            </article>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Easylife_News before="Mage_Adminhtml">Easylife_News_Adminhtml</Easylife_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <events>
            <page_block_html_topmenu_gethtml_before><!-- add link to top menu -->
                <observers>
                    <easylife_news>
                        <class>easylife_news/observer</class>
                        <method>addItemsToTopmenuItems</method>
                    </easylife_news>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>

        <routers>
            <easylife_news>
                <use>standard</use>
                <args>
                    <module>Easylife_News</module>
                    <frontName>news</frontName>
                </args>
            </easylife_news>
        </routers>
        <layout>
            <updates>
                <easylife_news>
                    <file>easylife_news.xml</file>
                </easylife_news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Easylife_News>
                    <files>
                        <default>Easylife_News.csv</default>
                    </files>
                </Easylife_News>
            </modules>
        </translate>
    </frontend>
    <default>
        <easylife_news>
            <article>
                <breadcrumbs>1</breadcrumbs>
                <url_prefix>article</url_prefix>
                <url_suffix>html</url_suffix>
                <rss>1</rss>
                <meta_title>Articles</meta_title>
            </article>
        </easylife_news>
    </default>
</config>